/*
 The animate-enter prefix is the event name that you
 have provided within the ngAnimate attribute.
*/
.animate-enter {
 -webkit-transition: .5s linear all; /* Safari/Chrome */
 -moz-transition: .5s linear all; /* Firefox */
 -ms-transition: .5s linear all; /* IE10 */
 -o-transition: .5s linear all; /* Opera */
 transition: .5s linear all; /* Future Browsers */
 
 /* The animation preparation code */
 opacity: 0;
}
 
/*
 Keep in mind that you want to combine both CSS
 classes together to avoid any CSS-specificity
 conflicts
*/
.animate-enter.animate-enter-active {
 /* The animation code itself */
 opacity: 1;
}