
/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -335px;
}

/* Set the fixed height of the footer here */
#push,
footer {
  height: 350px;
}







/*
* Web Fonts from fontspring.com
*
* All OpenType features and all extended glyphs have been removed.
* Fully installable fonts can be purchased at http://www.fontspring.com
*
* The fonts included in this stylesheet are subject to the End User License you purchased
* from Fontspring. The fonts are protected under domestic and international trademark and 
* copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
* distributing this font software.
*
* (c) 2010-2013 Fontspring
*
*
*
*
* The fonts included are copyrighted by the vendor listed below.
*
* Vendor:      exljbris Font Foundry
* License URL: http://www.fontspring.com/fflicense/exljbris
*
*
*/

@font-face {
   font-family: 'museo_slab500';
   src: url('fonts/Museo_Slab_500_2-webfont.eot');
   src: url('fonts/Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Museo_Slab_500_2-webfont.woff') format('woff'),
        url('fonts/Museo_Slab_500_2-webfont.ttf') format('truetype'),
        url('fonts/Museo_Slab_500_2-webfont.svg#museo_slab500') format('svg');
   font-weight: normal;
   font-style: normal;

}















/********** Custom page styles *****************/
.accordion-group
{
  border-style: none;
}
.accordion-group span
{
  vertical-align: top;
}
a.collapsed > span
{
  color: #000000;
}
a.collapsed:hover > span
{
  color: #2f8040;
}
.accordion-group a 
{
  text-decoration: none;
  color: #2f8040;
}
.boxedHeader
{
  margin-top: 40px;
  text-align: center;
  height:23px;
  overflow: visible;
}
.boxedContent
{
  background-color: #f3f3f3;
  padding:40px;
  margin-bottom: 40px;
}
#contactTop
{
  text-align: right;
  font-size:10pt;
  padding-top: 10px;
  padding-bottom: 10px;
}
.contactTopBleed
{
  background-color: #f3f3f3;
}
#infoWindowWrapper
{
  line-height: 1em;
  width: 350px;
  height: 170px;
}
.expandImage
{
  display: inline-block;
  width: 21px;
  height: 21px;
  background-image: url("../images/accordionOpen.png");
}
.collapsed>.expandImage
{
  background-image: url("../images/accordionClosed.png");
}
.learnMore
{
  font-size: 9pt;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  padding-top: 20px;
  cursor: pointer;
}
.angular-google-map img{
  max-width: none;
}
.recaptchatable * {
    border: 0 !important;
}
.resourceDisclosure
{
  font-size:9pt;
  line-height: 1em;
}

body {
    line-height: 1.5em !important;
}
ul
{
  display: table;
  margin-top: 1em;
  padding: 0;
}
li.imgBullet
{
  line-height: 1.5em;
  list-style: none;
  display: table-row;
}
li.imgBullet>span
{
  display: table-cell;
  vertical-align: middle;
}
li.imgBullet>span.bullet
{
  background-image: url("../images/listBullet.png");
  width: 18px;
  height: 18px;
  margin-right: 10px;
  display:inline-block;
}
#logo
{
  padding: 4px 0;
}
.nav-tabs
{
  font-family: "museo_slab500";
  font-size: 12pt;
  margin-bottom: 0px;
  border-bottom-width: 0px;
}
.nav-tabs>li.active
{
  border-bottom-width: 3px;
  border-bottom-color: #2f8040;
  border-bottom-style: solid;
}
.nav-tabs>.active>a, .nav-tabs>a:hover, .nav-tabs>.active>a:hover
{
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
}
.nav-tabs>li>a
{
  color:black;
}
#nextVideoArrowBottom
{
  float:right;
  cursor:pointer;
  padding-top:80px;
}
#nextVideoArrowTop
{
  display:none;
  float:right;
  cursor:pointer;
}
#previousVideoArrow
{
  float:left;
  cursor:pointer;
  padding-top:80px;
}
.pageHeaderBox
{
  font-family: "museo_slab500";
  font-size: 14pt;
  background-image: url("../images/headerBackground.png");
  height:52px;
  padding-top: 36px;
  margin-bottom: 2em;
}
#sloganBox
{
  padding-top: 2em;
  text-align: right;
  font-size:1.2em;
  font-style: italic;
}
.tab-content
{
  padding-bottom: 3em;
}
.topHRule
{
  background-color: #2f8040;
  height:1px;
  width:100%;
}
#topOfFooter
{
  background-color:#e9eaee;
  height:14px;
  width:100%;
  margin-bottom:20px;
}
.bottomHRule
{
  background-color: #4a4b4d;
  height:1px;
  width:100%;
}
#bottomOfFooter
{
  background-color: #292a2c;
  height:40px;
  padding-top:20px;
  font-size:10pt;
}
#bottomOfFooter a
{
  font-weight: bold;
  color:white;
}
.showOnMobile
{
  display:none;
}
.tweet
{
  color:white;
}
#videoDisplay
{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#videoMainContainer
{
  background-color:#f6f6f6;
}
.videoDirective
{
  height: 270px;
  width: 480px;
}
.verticalSeperator
{
  width:1px;
  background-color:black;
  height:200px;
  display:inline-block;
}

footer {
  background-color: #37383a;
  color:#757472;
}
h1
{
  font-size: 24pt;
  font-family: 'museo_slab500';
}
h2
{
  text-align: center;
  font-size:13pt;
  font-family: 'museo_slab500';
  font-weight: 500;
}

h3
{
  font-size:16pt;
  font-family: 'museo_slab500';
  font-weight: 500;
}

td
{
  padding:20px;
}



/* Lastly, apply responsive CSS fixes as necessary */

/*Small display*/
@media (max-width: 767px) {
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    height:460px;
  }
  #whatWeDo
  {
    margin-bottom: 20px;
  }

  #bottomOfFooter
  {
    background-color: #292a2c;
    height:50px;
    padding-top:10px;
    font-size:7pt;
  }
  .boxedContent
  {
    padding:20px;
    margin-bottom: 20px;
  }
  ul
  {
    margin-left:5px;
  }


  .videoDirective
  {
    height: 200px;
    width: 100%;
  }
  .hideOnMobile
  {
    display:none;
  }
  .input-xlarge
  {
    width :285px;
  }
  #previousVideoArrow
  {
    padding-top:0px;
  }
  #nextVideoArrowBottom
  {
    display:none;
  }
  #nextVideoArrowTop
  {
    display:inline-block;
  }
  .showOnMobile
  {
    display:inline-block;
  }

  /*turning off animation on mobile*/
  .animate-enter {
   -webkit-transition: none; /* Safari/Chrome */
   -moz-transition: none; /* Firefox */
   -ms-transition: none; /* IE10 */
   -o-transition: none; /* Opera */
   transition: none; /* Future Browsers */
  }
}
/*Medium display*/
@media (max-width: 991px) {
  .hideOnMobile
  {
    display:none;
  }
  .showOnMobile
  {
    display:inline-block;
  }
}
/*Large display*/
@media (max-width: 1199px) {
  
}