<div class="debugPanelWrapper" ng-show="panelVisible">
  <div class="debugPanel panel panel-default" my-draggable>
    <div class="panel-heading">
      <span class="pull-right" ng-click="panelVisible=false">
        <i class="glyphicon glyphicon-remove"></i>
      </span>
      <h3 class="panel-title">Debug Panel</h3>
      <button ng-click="targetElement()">
        <i ng-click="filterText = ''" class="glyphicon glyphicon-screenshot"></i>
        Inspect
      </button>
      <div>
        <input placeholder="Filter" type="text" block-mouse-down ng-model="filterText" >
        <i ng-click="filterText = ''" class="glyphicon glyphicon-remove-circle"></i>
      </div>
    </div>
    <options-form tree-node="filteredOptions">
    </options-form>
  </div>
</div>