<article class="tab-content" ng-controller="ServicesCtrl">

  <div class="pageHeaderBox">
    <div class="container">
      <div class="row">
        <div class="span12">
          Attorneys &amp; CPAs
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="span12">
        Let us help you leverage your time by:

        <ul>
          <li  class="imgBullet">
            <span class="bullet"></span>
            <span>
            Efficiently untangling the money mess, organizing financial data and providing recommendations
            </span>
          </li>
          <li  class="imgBullet">
            <span class="bullet"></span>
            <span>Helping your clients prepare financially for probate, divorce, guardianship, estate planning and day-to-day life
            </span>
          </li>
          <li  class="imgBullet">
            <span class="bullet"></span>
            <span>
            Actively monitoring diverse variable accounts that often do not get proper attention, such as 401K, variable annuities, and 403Bs.
            </span>
          </li>
          <li  class="imgBullet">
            <span class="bullet"></span>
            <span>
            Providing discretionary fee based investment management for clients who are unable or unprepared to oversee their assets.
            </span>
          </li>
        </ul>
        Information gathering can be accomplished within your office environment or directly with the referred client. If cost basis data is unavailable, we will reconstruct it. Our financial planning services are billable hourly. Quick response and turnaround time are standard. We provide asset summary lists with recommendations based on client objectives. Clients can implement our suggestions themselves or choose to hire us to oversee their assets on a fee-based discretionary basis.
     </div> 
    </div>
  </div>
	
</article>