<article class="tab-content">
  <div class="pageHeaderBox">
    <div class="container">
      <div class="row">
        <div class="span12">
          Biographies
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="span12">
        <img src="images/profileSmall.png" style="float:right;max-width:200px" class="span3"/>
        Daryl B. Shankland
        <br/><br/>
        Born 1953
        <ul>
          <li  class="imgBullet">
            <span class="bullet"></span>
            <span>
              University of Illinois, BS Communications , Summa Cum Laude, 1975    
            </span>
          </li>
          <li class="imgBullet">
            <span class="bullet"></span>
            <span>
              Broadcast news reporter and sales representative 1975 to 1980, WLRW Champaign, Il and WGEM Quincy, Il
            </span>
          </li>
          <li class="imgBullet">
            <span class="bullet"></span>
            <span>
              Registered Representative Paine Webber 1980 to 1986
            </span>
          </li>
          <li class="imgBullet">
            <span class="bullet"></span>
            <span>
              Registered Representative Smith Barney and predecessor firms 1986 to 2003
            </span>
          </li>
          <li class="imgBullet">
            <span class="bullet"></span>
            <span>
              Branch Manager Smith Barney 1987 to 1996
            </span>
          </li>
          <li class="imgBullet">
            <span class="bullet"></span>
            <span>
              Registered Investment Advisor Butterfield Capital 2003 to 2006
            </span>
          </li>
          <li class="imgBullet">
            <span class="bullet"></span>
            <span>
              President Shankland Financial Advisors, LLC 2006 to present
            </span>
          </li>
        </ul>
        Daryl has been guiding clients in their investment decisions since 1980, encompassing both good times and bad. Her broadcasting background has helped her communicate complex, quickly changing information to clients in a manner that they can understand. Over the years, Daryl has been a frequent commentator on financial matters on both television and radio. While at traditional Wall Street brokerage firms, she was quickly recognized for her leadership qualities. She served as branch manager of Smith Barney’s Quincy, Illinois office for over 9 years and left the company after attaining the highest designation of Senior Vice President. With her deep exposure to both management and client portfolio structuring, she understands how emotions can take their toll and how critical it is to trust your financial advisor. 
        <br/><br/>
        With a responsive business structure that enables her to work quickly on your behalf, she can manage your money using her keen sense of who you are and what you would like your money to do for you. Daryl describes herself as a” paid professional truth-teller”. She is interested in working with individuals who want someone to guide them, but who in their own right take responsibility for the financial well-being of their families. Her honest assessment of where you stand financially could greatly increase your peace of mind. If you are a long way from reaching your financial goals, Daryl can help you map out a plan to get where you want to go. If you are in good shape financially, Daryl’s mission is to help you stay that way and maximize what you can pass on after you are gone. 
        <br/><br/>
        Daryl’s friends usually become clients, and her clients usually become friends. They would be most likely to describe her as smart, driven, and dedicated but with a nice mix of friendly and creative. In her free time Daryl enjoys traveling, painting, singing in her church choir, and relishing time with her husband Richard, six grown children, and seven grandchildren. Daryl and Dick share their time between their homes in both Quincy, Illinois and Sapphire, North Carolina.
      </div>
    </div>
    <div class="row">
      <div class="span12">
      <br/>
      <br/>
      <br/>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <img src="images/chipImage.png" style="float:left;margin-right:20px;" class="span4"/>
        Alden M. Burnett III
        <br/><br/>
        Born 1961
        <ul>
          <li  class="imgBullet">
            <span class="bullet"></span>
            <span>
              Eagle Scout 1976    
            </span>
          </li>
          <li class="imgBullet">
            <span class="bullet"></span>
            <span>
              Illinois State University, B.S. Communications, 1983
            </span>
          </li>
          <li class="imgBullet">
            <span class="bullet"></span>
            <span>
              Eagle Scout mentor &amp; Assistant Scout Master
            </span>
          </li>
          <li class="imgBullet">
            <span class="bullet"></span>
            <span>
              History from 1993 to 1997 as a Manufacturer’s Representative working as liaison between manufacturer’s and small business owners
            </span>
          </li>
          <li class="imgBullet">
            <span class="bullet"></span>
            <span>
              V.P. &amp; partner 21st Century Building Products 1997-2004
            </span>
          </li>
          <li class="imgBullet">
            <span class="bullet"></span>
            <span>
              Peace Memorial Church youth group volunteer
            </span>
          </li>
          <li class="imgBullet">
            <span class="bullet"></span>
            <span>
              Registered Representative since 2004, most recently with Prudential Securities
            </span>
          </li>
          <li class="imgBullet">
            <span class="bullet"></span>
            <span>
              Series 6 Investment Company  / Variable Products securities license 12/02/2004
            </span>
          </li>
          <li class="imgBullet">
            <span class="bullet"></span>
            <span>
              Series 63 Uniform Securities Agent license  12/17/2004
            </span>
          </li>
          <li class="imgBullet">
            <span class="bullet"></span>
            <span>
              Series 65 Uniform Investment Adviser license  09/20/2006
            </span>
          </li>
          <li class="imgBullet">
            <span class="bullet"></span>
            <span>
              Series 7 General Securities Registered Representative license  03/05/2007
            </span>
          </li>
          <li class="imgBullet">
            <span class="bullet"></span>
            <span>
              Life, accident and health insurance licenses 2004
            </span>
          </li>
          <li class="imgBullet">
            <span class="bullet"></span>
            <span>
              Joined Shankland Financial Advisers, LLC  November 2013
            </span>
          </li>
        </ul>
        Alden has been helping individual clients and business owners accumulate and manage their investments since 2004. He holds a strong belief that proper insurance protection is a key component of any financial plan. His focus on insurance helps ensure that the money which clients are accumulating is not wiped out in a financial disaster. His experience allows him to utilize resources from innovative companies around the world. He can review the protection you have in place and provide you a solution using the most current, competitive products available.
        <br/><br/>
        As a young man Alden achieved the designation of Eagle Scout. He has applied those solid principles to all of his business dealings and believes that character is doing the right thing when no one is watching. He is active in his community and has served as an Eagle Scout mentor, assistant Scout Master and youth group volunteer. His personal passions are his wife Sue and two children, outdoor adventure and his music. 
        <br/><br/>
        Whether it's mountain climbing with his son, shooting rapids with the family or playing drums in a local venue he never forgets that the peace of security can provide all families the ability to chase their dreams. In his presence you will know that you are being guided by someone who cares and will see to it that he does the right thing for you and your family.
      </div>
    </div>
  </div>
	  
</article>