<article ng-controller="ContactCtrl" class="tab-content">
  
  <div class="pageHeaderBox">
    <div class="container">
      <div class="row">
        <div class="span12">
          Contact Us
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="span12">
        Call Daryl Shankland at 217-494-0439 or Alden Burnett at 708-692-2623 and they will call you back.<br/>
        Or email <a href="mailto:darylshank1@gmail.com">darylshank1@gmail.com</a><br/>
        Consultations by appointment only.<br/><br/>
        <form class="form-horizontal">
        <fieldset>


        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="contactSubject">Subject</label>
          <div class="controls">
            <input ng-model="model.contactSubject" name="contactSubject" type="text" placeholder="Interested in speaking about..." class="input-xlarge">
            
          </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="contactName">Name</label>
          <div class="controls">
            <input ng-model="model.contactName" name="contactName" type="text" placeholder="John Smith" class="input-xlarge">
            
          </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="contactEmail">Email</label>
          <div class="controls">
            <input ng-model="model.contactEmail" name="contactEmail" type="email" placeholder="john.smith@gmail.com" class="input-xlarge">
            
          </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="contactPhone">Phone</label>
          <div class="controls">
            <input ng-model="model.contactPhone" name="contactPhone" type="tel" placeholder="1-555-555-5555" class="input-xlarge">
            
          </div>
        </div>

        <!-- Textarea -->
        <div class="control-group">
          <label class="control-label" for="contactText">Question or Comment</label>
          <div class="controls">                     
            <textarea ng-model="model.contactText" name="contactText"></textarea>
          </div>
        </div>

        <!-- ReCaptcha -->
        <div class="control-group">
          <label class="control-label" for="contactText">Captcha</label>
          <div
            class="controls"
            vc-recaptcha
            theme="custom"
            ng-model="model.captcha"
            key="6LfuT-cSAAAAAMnICzJL0mHtikNqNDX8PK77aGF7">
            <div id="recaptcha_widget" style="display:none">

               <div id="recaptcha_image"></div>
               <div class="recaptcha_only_if_incorrect_sol" style="color:red">Incorrect please try again</div>

               <span class="recaptcha_only_if_image">Enter the words above:</span>
               <span class="recaptcha_only_if_audio">Enter the numbers you hear:</span>

               <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" />

               <div><a href="javascript:Recaptcha.reload()">Get another CAPTCHA</a></div>
               <div class="recaptcha_only_if_image"><a href="javascript:Recaptcha.switch_type('audio')">Get an audio CAPTCHA</a></div>
               <div class="recaptcha_only_if_audio"><a href="javascript:Recaptcha.switch_type('image')">Get an image CAPTCHA</a></div>

               <div><a href="javascript:Recaptcha.showhelp()">Help</a></div>

             </div>
          </div>
          
        </div>

        <!-- Button -->
        <div class="control-group">
          <label class="control-label" for="">
          </label>
          <div class="controls">
            <button
              ng-click="submit(model.contactSubject,model.contactName,model.contactEmail,model.contactPhone,model.contactText)"
              class="btn btn-primary">
              Submit
            </button>
          </div>
        </div>

        </fieldset>
        </form>
        
      </div>
    </div>
  </div>
  <div>
    <!-- <google-map style="height: 500px;width:100%;display:block; float:left"
                      map-opts="model.mapOpts"
                      markers="model.mapOpts.markers"
                      selectedMarkers="model.mapOpts.markersSelected">
    </google-map> -->
  </div>
</article>