<div style="padding:20px;max-height:300px;overflow:auto">
	
	<h3>
	  Disclosure
	</h3>
	<br/>
	Shankland Financial Advisors, LLC ("SFA") is a registered investment adviser located in the State of Illinois.  SFA and its representatives are in compliance with the current registration requirements imposed upon investment advisers by those states in which SFA maintains clients.  SFA may only transact business in those states in which it is registered or qualifies for an exemption or exclusion from registration requirements.

	<br/>
	<br/>
	SFA's web site is limited to the dissemination of general information regarding its investment advisory services to residents of the United States and residing in states where providing such information is not prohibited by applicable law.  Accordingly, the publication of SFA's web site on the Internet should not be construed by any consumer and/or prospective client as SFA's solicitation to effect, or attempt to effect transactions in securities, or the rendering of personalized investment advice for compensation, over the Internet.

	<br/>
	<br/>
	Furthermore, the information resulting from the use of tools or other information on this Internet site should not be construed, in any manner whatsoever, as the receipt of, or a substitute for, personalized individual advice from SFA.  Any subsequent, direct communication by SFA with a prospective client shall be conducted by a representative that is either registered or qualifies for an exemption or exclusion from registration in the state where the prospective client resides.  For information pertaining to the registration status of SFA, please contact the United States Securities and Exchange Commission on their web site at www.adviserinfo.sec.gov.

	<br/>
	<br/>
	A copy of SFA's current written disclosure statement discussing SFA's business operations, services, and fees is available from SFA upon written request.  SFA does not make any representations as to the accuracy, timeliness, suitability, completeness, or relevance of any information prepared by any unaffiliated third party, whether linked to SFA's web site or incorporated herein, and takes no responsibility therefore.  All such information is provided solely for convenience purposes only and all users thereof should be guided accordingly.
	<br/>
	<br/>
	<button ng-click="ok()">
		Close
	</button>
</div>