<div id="headerArea">
  <div class="contactTopBleed">
    <div class="container">
      <div class="row">
        <div id="contactTop" class="col-sm-12">
          <b>(mobile)</b> 217-494-0439
        </div>
      </div>
    </div>
  </div>
  <div class="topHRule"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4" style="overflow:hidden">
        <img src="images/logo.jpg" id="logo"/>
      </div>
      <div class="col-sm-8" id="sloganBox">
        We untangle the money mess.
      </div>
    </div>
  </div>
  <div class="topHRule"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <div class="tabbable hideOnMobile">
          <ul class="nav nav-tabs">
            <li
              ng-click="gotoPage(page)"
              ng-repeat="page in pages"
              ng-class="{active: currentPage==page.location}">
              <a href="#/{{page.location}}">{{page.label}}</a>
            </li>
          </ul>
        </div>

        <div class="showOnMobile"
            style="cursor:pointer;width:100%;text-align:right">
          <div
            ng-click="model.isCollapsed=!model.isCollapsed">
            <h3 style="display:inline-block;">
              Menu
            </h3>
            <img 
              src="images/menu.png">
          </div>
          <div collapse="model.isCollapsed">
            <ul style="float:right;">
              <li
                ng-click="gotoPage(page)"
                ng-repeat="page in pages"
                ng-class="{active: currentPage==page.location}"
                style="display:block">
                <a href="#/{{page.location}}"><h3>{{page.label}}</h3></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="topHRule"></div>
</div>