<div id="videoMainContainer" ng-controller="VideoCtrl">
    <div id="videoDisplay">
        <img
            id="previousVideoArrow"
            src="images/videoLeftArrow.png"
            ng-click="loadPreviousVideo()">
        <img
            src="images/videoRightArrow.png"
            ng-click="loadNextVideo()"
            id="nextVideoArrowTop">
        <a url="selectedVideo" embed-video theme="light" color="white"></a>
        <img
            src="images/videoRightArrow.png"
            ng-click="loadNextVideo()"
            id="nextVideoArrowBottom">
    </div>
    <div style="clear:both"></div>
</div>
<div class="topHRule"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
        <div class="boxedHeader">
            <img src="images/group.png" />
        </div>
        <div class="boxedContent">
            <h2>Brief Intro 1</h2>
            Some brief intro text to entice your customers to check out your product further 

            <ul>
              <li  class="imgBullet">
                <span class="bullet"></span>
                <span>
                    Individualized fee-based separate account management
                </span>
              </li>
              <li  class="imgBullet">
                <span class="bullet"></span>
                <span>
                    Timely decision-making made with discretion in a volatile world
                </span>
              </li>
              <li  class="imgBullet">
                <span class="bullet"></span>
                <span>
                    Discerning analysis, research and organization
                </span>
              </li>
              <li  class="imgBullet">
                <span class="bullet"></span>
                <span>
                    Principal Daryl Shankland’s experience of personalized investment planning for individual clients since 1980
                </span>
              </li>
              <li  class="imgBullet">
                <span class="bullet"></span>
                <span>
                    Management of 401k and variable annuity accounts
                </span>
              </li>
            </ul>
            <div class="learnMore">
                <a ng-click="gotoPage('howWeWork')">
                    Learn More
                    <img src="images/learnMoreArrow.png" style="padding-left:20px"/>
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="boxedHeader">
            <img src="images/leaf.png" />
        </div>
        <div class="boxedContent">
          <h2>Brief Intro 2</h2>
          Perhaps something about how you work with your customers or clients to achieve their goals or meet their needs.  Potentially a call to action to contact you.
          <ul>
            <li  class="imgBullet">
              <span class="bullet"></span>
              <span>
                We meet with you
              </span>
            </li>
            <li  class="imgBullet">
              <span class="bullet"></span>
              <span>
                We see if we like each other
              </span>
            </li>
            <li  class="imgBullet">
              <span class="bullet"></span>
              <span>
                We get busy working on your behalf.
              </span>
            </li>
            <li  class="imgBullet">
              <span class="bullet"></span>
              <span>
                Contact us to setup an appointment.
              </span>
            </li>
          </ul>
          <div class="learnMore">
              <a ng-click="gotoPage('contact')">
                  Learn More
                  <img src="images/learnMoreArrow.png" style="padding-left:20px"/>
              </a>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <center>
        <button ng-click="showDisclosure()">Disclosure</button>
        
      </center>
    </div>
  </div>
</div>
