<div class="pageHeaderBox">
  <div class="container">
    <div class="row">
      <div class="span12">
        How We Work
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span12">
      <h3>How we work with you</h3>
      When you are busy doing other things, we leverage your time. We manage your individual separate accounts on a discretionary basis.  After we have consulted with you and are acutely aware of your needs, we do all the buying and selling decision making for you.  We can act quickly on your behalf,  especially important in volatile times.  Our fees are based on a percentage of the assets under management and are clear and understandable.
      <h3>Working with Your Legal and Tax Professionals</h3>
      We work in concert with your legal and tax professionals to ensure that all pieces of your financial puzzle fit together. With your permission, we talk directly with them, sharing information to expedite your tax filing obligations as well as your legal and estate planning needs. We manage your portfolio with awareness of tax ramifications. When needed, analysis and research outside the scope of normal portfolio management can be handled separately under our financial planning services. If you are missing critical cost basis information, we will reconstruct it. 
      <h3>A balanced approach includes protecting your family and business.</h3>
      Without proper protection your plans can be swept away in a heartbeat. Our process verifies that you have the right amount and type of life insurance protection. We seek the best prices and current, innovative policies that can give you access to benefits while you are still living.
      <h3>Our Experience</h3>
      We have been advising individual clients regarding their financial needs since 1980.   Our organizational process means we leave no stone unturned.  If you really want to know how you stand financially, our input is invaluable.
    </div>
  </div>
</div>