<article class="tab-content" ng-controller="ServicesCtrl">

  <div class="pageHeaderBox">
    <div class="container">
      <div class="row">
        <div class="span12">
          Individuals
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="span10">
      It’s a more volatile world!! Do you know where your money is?
      <br/><br/>
<h3>
  New Clients
</h3>
 We meet face to face with you and go over every statement that has to do with money. Organizing your financial data enables us to provide targeted recommendations based on your needs.  We actively monitor diverse variable accounts that seldom get proper attention. These include your 401K still at your employer and variable annuities which may need to stay where they are.  We generally consolidate personal accounts at TD Ameritrade to streamline the management of your assets at a highly reliable, low cost custodian.
<h3>
  Think insurance is boring?  We don’t!
</h3>
We analyze life insurance because it is a critical element of financial security. The industry has gone through many changes in recent years.  If you have not priced your life insurance recently, you may not be aware of how cost effective new products can be. Many provide access to benefits in cases of terminal illness and long term care needs so they can help you while you are still alive.  Our insurance specialists are very adept at getting you the most coverage for your money. 
<h3>
  Risk Management 
</h3>
No-one can predict the future, but these are volatile times. While you are busy doing other things, we will implement protective devices to cover downside risk. We watch the markets closely and are prepared to preserve your money by using proven strategies to help protect you.
Due to extraordinarily low interest rates, investors have had to take on more risk in order to get any return on their money. Risk needs to be properly managed, and assets must be watched closely. You cannot buy it and forget it, ever, in today’s marketplace.
<h3>
  Remember 2008?  How did you do?
</h3>
Think back to 2008: did you react quickly enough then to protect your assets? Are you prepared to act quickly enough today? If you relied on a financial advisor in 2008, did they maneuver help to protect you? If you felt ignored or were frozen in fear, let us help. We took client accounts out of the equity and bond markets in January 2008 and avoided major portfolio losses. We don’t pretend to be perfect but we do course correct in a timely fashion and our diversification techniques mean you will generally have less volatile fluctuation than you can accomplish on your own. If you are not protecting yourself, how much would another 40% decline cost you?
<h3>
  Personal Hot Spots
</h3>
Our lives can be volatile, too.  We can provide invaluable input during difficult times such as divorce, the death of a spouse, or an elderly person needing help who used to be independent.  We work with attorneys for estate planning and accountants for tax issues.  If you don’t have a legal and tax team already in place, our contacts will help you find some of the best people around.  Our Rolodex is magic.
        
     </div> 
    </div>
  </div>
	
</article>